<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
  <script type="text/javascript" src="lib/jquery-1.3.2.js"></script>
  <script type="text/javascript" src="src/jerb.js"></script>
  <script type="text/javascript" src="src/jquery.jerb.js"></script>
  </head>
  <body>
    <script type="text/jerb" name="welcome letter">
      <p>Hello <%= name %>,</p>
      <p>Thank you for joining <%= service_name %>. You have access to
      the following services:</p>
      <%= render('services') %>
    </script>
    <script type="text/jerb" name="services">
      <ol>
      <% for (var i=0; i < services.length; i++) { %>
        <li><%= services[i] %></li>
      <% }; %>
      </ol>
    </script>

    <div id="welcome_letter"></div>

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        var data = {
          name: 'Steve',
          service_name: 'HitGub',
          services: ["email","ftp","awesome!"]
        }
        $('#welcome_letter').html(JERB.render('welcome letter', data));
      });
    </script>
  </body>
</html>
